extends _layouts/base.jade

// Define Page specific classes if neccessary.
block vars
	- var htmlClass = ''; 		// <html> class
	- var bodyClass = '';		// <body> class
	- var wrapClass = '';		// page content holder class

block content
	.stage
		h1 Hello World!
	script(type='x-shader/x-fragment' id='fragmentshader').
		uniform vec3 color;
		uniform sampler2D texture;

		varying vec3 vColor;

		void main() {

			gl_FragColor = vec4( color * vColor, 1.0 );
			gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

		}
	script(type="x-shader/x-vertex" id="vertexshader").
		uniform float amplitude;
		attribute float size;
		attribute vec3 customColor;

		varying vec3 vColor;

		void main() {

			vColor = customColor;

			vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

			gl_PointSize = size * ( 300.0 / -mvPosition.z );

			gl_Position = projectionMatrix * mvPosition;

		}



// Import page specific Scripts
block scripts
	script(src='#{absoluteUrl}js/index.js')